mixin sitelink
	ul.sitelink
		li: a(href="./js.html" title="JavaScript Tips") JSTips
		li: a(href="./pug.html") pugTips
		li: a(href="./jquery.html" title="jQuery Tips") jQTips
//- 2箇所で使うためMIXIN

footer
	+sitelink
	a(href="../") stms-note

nav#navigation
	input(id="burger" type="checkbox")
	label.menu-button(for="burger")
		- for (var x=0; x<3; x++)
			.menu-icon
	ul#toc
	+sitelink

#modal
