mixin sitelink
	ul.sitelink
		li: a(href="./js.html") JSTips
		li: a(href="./pug.html") pugTips
footer
	+sitelink
	a(href="../") stms-note

nav#navigation
	input(id="burger" type="checkbox")
	label.menu-button(for="burger")
		- for (var x=0; x<3; x++)
			.menu-icon
	ul#toc
	+sitelink

#modal
