//- 共通MIXIN - シンタックスハイライト短縮
mixin code(syntax,text)
	pre(class=syntax)
		code= text

mixin tag(...text)
	.area-tag
		each tagtext in text
			a(href="#"+tagtext).tag= tagtext

//- HTML開始 -----------------------------
doctype html
html(lang="ja")
	head
		block head
			include ./_meta.pug

	body
		block h1
			h1: a(href="") #{pagetitle} Tips
		header
			block header
				//- - let tagname =[]
				if tagname != undefined
					each tag in tagname
						a.tag(href=`#${tag}`)= tag
		main
			block contents

		block footer
			include ./_footer.pug

		block script
			script hljs.highlightAll();
			script(src="../assets/script.js")