doctype html
html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(name="robots" content="noindex,nofollow,noarchive,noimageindex")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		title Pug Tips | stms-note
		meta(name="description", content="Pugの自分用記述メモです")
		meta(property="og:title" content="Pug Tips")
		meta(property="og:site_name" content="stms-note")
		meta(property="og:url" content="https://ostms.github.io/stms-code")
		meta(property="og:image" content="https://ostms.github.io/stms-note/pug/ogpthm.png")

		// Style
		link(rel="stylesheet" href="src/style.sass.min.css")
		// Google Fonts
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&family=Murecho:wght@400;600&display=swap")
		// Highlight.js
		script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js")
		//- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/base16/eighties.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/base16/google-light.min.css")
		
		// Global site tag (gtag.js) - Google Analytics
		script(async src="https://www.googletagmanager.com/gtag/js?id=G-G8FCPF442B")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-G8FCPF442B');
	body
		h1 pug Tips
		main
			section
				h2 タグとテキスト
				pre: code.pug= 'p テキスト\nul: li リスト\np あい#[strong う]えお'
				pre: code.html= "<p>テキスト</p>\n<ul><li>リスト</li></ul>\n<p>あい<b>う</b>えお</p>"
				
			section
				h2 複数行テキスト
				pre: code.pug= 'p\n\t| 複数行のテキスト\n\tbr\n\t| インデントは自由'
				pre: code.html= '<p>\n\t複数行のテキスト<br>\n\tインデントは自由\n</p>'
					
			section
				h2 クラスとID
				pre: code.pug= 'p.test.red\nh1#sitename'
				pre: code.html= '<P class="test red"></p>\n<h1 id="sitename"></h1>'
			
			section
				h2 divの省略
				pre: code.pug
					| #app
					| .test
				pre: code.html= '<div id="app">\n<div class="test">'
			
			section
				h2 エスケープ
				pre: code.pug= "code= '<p>あ</p>\\n<i>い</i>'"
				pre: code.html= '<code><p>あ</p>\n<i>い</i></code>'
			
			section
				h2 属性(プロパティ)
				pre: code.pug= 'input(type="radio"\n\tname="test"\n\tchecked)'
				pre: code.html= '<input type="radio" name="test" checked>'
			
			section
				h2 scriptやstyle
				pre: code.pug= 'style.\n\ta {color: red}\nscript.\n\tlet pug = "Hello, pug!"'
				pre: code.html= '<style>\n\ta {color: red}\n</style>\n<script>\n\tlet pug ="Hello, pug!"\n</script>'
			
			section
				h2 変数
				pre: code.pug= '- var pagename="ページ"\n\ntitle #{pagename}'
				pre: code.html= '<title>ページ</title>'
			
			section
				h2 変数:プロパティ
				pre: code.pug= '- var clsname="aaa"\n\np(class=clsname)\np(class=`&{clsname}`)'
				pre: code.html= '<p class="aaa"></p>\n<p class="aaa"></p>'
			
			section
				h2 for
				pre: code.pug= '- for (var x=0; x<3; x++)\n\nli ナンバー#{x}'
				pre: code.html= '<li>ナンバー0</li>\n<li>ナンバー1</li>\n<li>ナンバー2</li>'
			
			section
				h2 each
				pre: code.pug= 'each value in\n ["HTML","CSS","JS"]\n\nli #{value}'
				pre: code.html= '<li>HTML</li>\n<li>CSS</li>\n<li>JS</li>'
			
			section
				h2 if
				pre: code.pug= '- var name = "うさ"\nif name=="やぎ"\n\tp わたしはやぎです\nelse if name=="ヒツジ"\n\tp わたしはヒツジです\nelse\n\tp やぎでもヒツジでもない？'
				pre: code.html= '<p>やぎでもヒツジでもない？</p>'
			
			section
				h2 switch
				pre: code.pug= '- var name = "うさ"\ncase name\n\twhen "やぎ"\n\t\tp わたしはやぎです\n\t\tbreak\n\twhen "ヒツジ"\n\t\tp わたしはヒツジです\n\t\tbreak\n\tdefault\n\t\tp やぎでもヒツジでもない？'
				pre: code.html= '<p>やぎでもヒツジでもない？</p>'
			
			section
				h2 コメントアウト
				pre: code.pug= '// HTMLに出力される\n\n//- pugのみのコメント'
				pre: code.html= '<!-- HTMLに出力される -->'
		
		footer
			a(href="../") stms-note
		script hljs.highlightAll();
