include ../includes/_value.pug
doctype html
html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title resetCSS Preview - ${siteName}
	body
		include ../includes/_sh-header.pug