doctype html
html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(name="robots", content="noindex,nofollow,noarchive,noimageindex")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title stms-note
		meta(name="description", content="BoEo.stms/こっこ太郎の練習兼オープンノート")
		meta(property="og:site_name", content="stms-note")
		meta(property="og:image", content="https://ostms.github.io/stms-note/assets/img/indexthm.png")
		link(rel="icon", href="assets/favicon.svg", type="image/svg+xml")

		// Google Fonts
		link(rel="preconnect", href="https://fonts.googleapis.com")
		link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&family=Murecho:wght@400;600&display=swap", rel="stylesheet")

		// StyleSheet
		link(rel="stylesheet", href="assets/index.css")

		// Global site tag (gtag.js) - Google Analytics
		script(async, src="https://www.googletagmanager.com/gtag/js?id=G-G8FCPF442B")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());
			gtag('config', 'G-G8FCPF442B');

	body: .wrapper: article
		header
			img(src="assets/favicon.svg", width="64px")
			h1 stms-note
			p BoEo.stms / こっこ太郎 の 練習兼 オープンノート。

		main: .block-paper
			dl
				dt: a(href="tips-pug/") Pug Tips
				dd.desc Pugの記法チップメモ
			dl
				dt: a(href="tips-js/") JavaScript Tips
				dd.desc JavaScriptの記法チップメモ
			dl
				dt: a(href="tips-jquery/") jQuery Tips
				dd.desc jQuery = JSの記法チップメモ
			//- dl
			//- 	dt: a(href="tips-sass/") Sass Tips
			//- 	dd.desc Sassの記法チップメモ
			hr
			dl
				dt: a(href="shorthand-background/") background: ~
				dd.desc CSS backgroundのショートハンド
			dl
				dt: a(href="shorthand-animation/") animation: ~
				dd.desc CSS animationのショートハンド
			dl
				dt: a(href="reset-css/") resetCSS view
				dd.desc リセットCSS
		//- main --
	//- article --
	footer
		a(href="https://twitter.com/o_stms/")
			img(src="https://icongr.am/fontawesome/twitter.svg?size=48&color=c3b3aa", alt="Twitter")
		a(href="https://github.com/ostms/stms-note/")
			img(src="https://icongr.am/fontawesome/github.svg?size=48&color=c3b3aa", alt="GitHub")
